form {
  width: 50%;
  margin: auto;
}

h3 {
  text-align: center;
  color: rgb(236 93 87);
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("BrandonGrotesque-Medium.woff2") format("woff2");
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

label {
  padding-left: 13px;
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 80%;
  letter-spacing: 0.025em;
  word-spacing: 0.075em;
  src: url("BrandonGrotesque-Regular.woff2") format("woff2");
  text-transform: uppercase;
}

input {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 17px;
  padding: 10px 12px;
  border-radius: 7px;
  border-width: 0.1em;
  border-color: rgb(172 176 175); /* rgb(250 249 249); */
  font-family: AtlasGrotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 130%;
  line-height: 1.4em;
  color: rgb(250 249 249);
  src: url("AtlasGrotesk-Light-Web.woff2") format("woff2");
}

select {
  width: 100%;
  background-color: rgb(243 243 243);
  padding: 10px 3px;
  margin-top: 3px;
  margin-bottom: 12px;
  border-radius: 5px;
  border-width: 0.1em;
  border-color: rgb(172 176 175);
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 100;
  font-size: 130%;
  src: url("BrandonGrotesque-Regular.woff2") format("woff2");
}

div.button {
  text-align: right;
}

button {
  color: white;
  padding: 8px 25px;
  background-color: rgb(236 93 87);
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: bold;
  font-size: 105%;
  src: url("BrandonGrotesque-Medium.woff2") format("woff2");
  text-transform: uppercase;
  border-radius: 25px;
  border-width: 0;
}
